---
---

@import "{{ site.theme }}";

/* Custom style for console code blocks
It makes look like a terminal window */

.language-console .highlight {
	background-color: #171717;
	border-radius: 0 0 5px 5px;
}

.language-console .highlight code {
	color: #00D900
}

.language-console .highlight .gp {
	color: #00A600;
}

.language-console div.highlight {
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
}

.language-console pre.highlight {
	border: none;
}

.language-console:before {
	display: block;
	padding: 5px 0;
	content: 'terminal';
	color: #444;
	font: 400 16px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-align: center;
	background-color: #f7f7f7;
	background-image: linear-gradient(to bottom, #f7f7f7 0%, #cfcfcf 7%, #aaa 100%);
	border-bottom: 1px solid #111;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}